# Backend (C# + Razor)
*.cs linguist-language=C#
*.cshtml linguist-language=HTML

# Frontend
*.js linguist-language=JavaScript
*.css linguist-language=CSS

# Config / Metadata
*.json linguist-language=JSON

# Binary dosyalar (analize dahil edilmesin)
*.mp3 linguist-language=Binary

# Derleme klasörleri
bin/** linguist-vendored
obj/** linguist-vendored
.vs/** linguist-vendored
