# Backend
*.cs linguist-language=C#
*.cshtml linguist-language=HTML

# Frontend
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML

# Config & Data
*.json linguist-language=JSON
*.xml linguist-language=XML

# Assets (müzik dosyaları gibi)
*.mp3 linguist-language=Binary

# Derleme klasörlerini dışla (analize dahil edilmesin)
bin/** linguist-vendored
obj/** linguist-vendored
.vs/** linguist-vendored
