@{
    Layout = "~/Views/Shared/_Layout.cshtml";  // Eğer `_Layout.cshtml` kullanıyorsan!
}
<!doctype html>
<html lang="en" dir="ltr">

                      
            <div class="content-inner container-fluid pb-0" id="page_layout">
<div class="row  mb-4">
    <div class="col-lg-12">
        <div class="card-header mb-3">
            <div class="header-title">
                <h4 class="card-title text-capitalize">Create ! </h4>
            </div>
        </div>
    </div>
    <ul class="row list-unstyled mb-0 ">
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/11.png" id="11" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">way of right</a>
                        <small class="fw-normal text-capitalize line-count-1">by king sing</small>
                </div>
                </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/12.png" id="12" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">years of hundred</a>
                        <small class="fw-normal text-capitalize line-count-1">by Helena illation</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/13.png" id="13" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">you are mine</a>
                        <small class="fw-normal text-capitalize line-count-1">you are mine</small>
                </div>
                </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/14.png" id="14" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">heart is beating</a>
                        <small class="fw-normal text-capitalize line-count-1">snoods smith jonas </small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/15.png" id="15" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">my crying eyes</a>
                        <small class="fw-normal text-capitalize line-count-1">snoods smith jonas </small>
                </div>                        
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/16.png" id="16" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">my lovely dad</a>
                        <small class="fw-normal text-capitalize line-count-1">snoods smith jonas</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/37.png" id="17" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">travel mix</a>
                        <small class="fw-normal text-capitalize line-count-1">by Alex Williams</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/28.png" id="28" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">romantic songs</a>
                        <small class="fw-normal text-capitalize line-count-1">by Eliana d’cruz</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/29.png" id="29" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">rocking party</a>
                        <small class="fw-normal text-capitalize line-count-1">by omen smith</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/15.png" id="15" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">peace of mind</a>
                        <small class="fw-normal text-capitalize line-count-1">by mainours Kian</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/30.png" id="30" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">rap songs</a>
                        <small class="fw-normal text-capitalize line-count-1">by koruna truss</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/32.png" id="32" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">retro albums</a>
                        <small class="fw-normal text-capitalize line-count-1">retro albums</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/05.png" id="06" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">the girl</a>
                        <small class="fw-normal text-capitalize line-count-1">by snoods smith Jonas </small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/07.png" id="07" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">the silent one</a>
                        <small class="fw-normal text-capitalize line-count-1">by Alex Williams </small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/09.png" id="09" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">everything i want</a>
                        <small class="fw-normal text-capitalize line-count-1">by Neha arena</small>
                </div>
            </div>
        </li>
        <li class="col-lg-2 col-md-4">
            <div class="card">
                <div class="card-body">
                    
                    
                        <img src="../assets/images/dashboard/10.png" id="10" class="mb-3 img-fluid rounded-3" alt="song-img">
                        <a href="../dashboard/music-player.html" class=" text-capitalize line-count-1 h5 d-block">infinity</a>
                        <small class="fw-normal text-capitalize line-count-1">by nil ana meet nagak</small>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row  mb-5">
    <div class="col-lg-12">
        <div class="card-header mb-3">
            <div class="header-title">
                <h4 class="card-title text-capitalize">our top releasing listening songs</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6  mb-3">
            <ul class="p-0 list-unstyled mb-0 ">
                <li class="pb-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/30.png" id="68" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">my lovely doll</a>
                                </div>
                                <small class="text-capitalize">king of rape</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">6.2k</small>
                        </div>
                    </div>                </li>
                <li class="py-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/31.png" id="69" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">my yellow car</a>
                                </div>
                                <small class="text-capitalize">Alina kuru</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">5.9k</small>
                        </div>
                    </div>                </li>
                <li class="py-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/32.png" id="70" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">retro lo-fi</a>
                                </div>
                                <small class="text-capitalize">mitral luff</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">5.4k</small>
                        </div>
                    </div>                </li>
                <li class="pt-3">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/33.png" id="71" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">party nights</a>
                                </div>
                                <small class="text-capitalize">john deo</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">5.1k</small>
                        </div>
                    </div>                </li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-3">
            <ul class="p-0 list-unstyled mb-0 ">
                <li class="pb-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/34.png" id="72" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">my little world</a>
                                </div>
                                <small class="text-capitalize">john and smith jonas</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">4.6k</small>
                        </div>
                    </div>                </li>
                <li class="py-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/35.png" id="73" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">party nights</a>
                                </div>
                                <small class="text-capitalize">Alina Jonas</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">4.2k</small>
                        </div>
                    </div>                </li>
                <li class="py-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/36.png" id="74" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">first concert</a>
                                </div>
                                <small class="text-capitalize">kimono dictum</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">3.9k</small>
                        </div>
                    </div>                </li>
                <li class="pt-3">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/37.png" id="75" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">mountain road</a>
                                </div>
                                <small class="text-capitalize">john deo</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">3.4k</small>
                        </div>
                    </div>                </li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6  mb-3">
            <ul class="p-0 list-unstyled mb-0 ">
                <li class="pb-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/26.png" id="64" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">my way of music</a>
                                </div>
                                <small class="text-capitalize">winy sling</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">7.4k</small>
                        </div>
                    </div>                </li>
                <li class="py-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/27.png" id="65" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">hits of beats</a>
                                </div>
                                <small class="text-capitalize">Alina smith</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">7.2k</small>
                        </div>
                    </div>                </li>
                <li class="py-3 border-bottom">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/28.png" id="66" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">hole world</a>
                                </div>
                                <small class="text-capitalize">mitten raj</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">6.9k</small>
                        </div>
                    </div>                </li>
                <li class="pt-3">
                    <div class="d-flex">
                        <img src="../assets/images/dashboard/29.png" id="67" class="img-fluid rounded me-3 avatar-55"
                                alt="list-img">
                        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                            <div>
                                <div>
                                    <a href="../dashboard/music-player.html" class="text-capitalize h5 mt-3">passion of work</a>
                                </div>
                                <small class="text-capitalize">haul josh</small>
                            </div>
                         <div class="d-flex align-items-center heading-color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M15.7727 4.89531C15.025 4.14014 14.1357 3.53986 13.1558 3.12883C12.1758 2.71781 11.1244 2.50412 10.0617 2.5H10C7.84512 2.5 5.77849 3.35602 4.25476 4.87976C2.73102 6.40349 1.875 8.47012 1.875 10.625V15C1.875 15.4973 2.07254 15.9742 2.42417 16.3258C2.77581 16.6775 3.25272 16.875 3.75 16.875H5C5.49728 16.875 5.97419 16.6775 6.32583 16.3258C6.67746 15.9742 6.875 15.4973 6.875 15V11.875C6.875 11.3777 6.67746 10.9008 6.32583 10.5492C5.97419 10.1975 5.49728 10 5 10H3.15313C3.30905 8.29188 4.09785 6.70373 5.36466 5.54736C6.63147 4.39099 8.28477 3.74991 10 3.75H10.0523C11.7604 3.75722 13.4042 4.40211 14.6616 5.55827C15.9189 6.71444 16.6991 8.29851 16.8492 10H15C14.5027 10 14.0258 10.1975 13.6742 10.5492C13.3225 10.9008 13.125 11.3777 13.125 11.875V15C13.125 15.4973 13.3225 15.9742 13.6742 16.3258C14.0258 16.6775 14.5027 16.875 15 16.875H16.25C16.7473 16.875 17.2242 16.6775 17.5758 16.3258C17.9275 15.9742 18.125 15.4973 18.125 15V10.625C18.1291 9.56217 17.9234 8.50898 17.5197 7.52577C17.1161 6.54257 16.5224 5.64868 15.7727 4.89531ZM5 11.25C5.16576 11.25 5.32473 11.3158 5.44194 11.4331C5.55915 11.5503 5.625 11.7092 5.625 11.875V15C5.625 15.1658 5.55915 15.3247 5.44194 15.4419C5.32473 15.5592 5.16576 15.625 5 15.625H3.75C3.58424 15.625 3.42527 15.5592 3.30806 15.4419C3.19085 15.3247 3.125 15.1658 3.125 15V11.25H5ZM16.875 15C16.875 15.1658 16.8092 15.3247 16.6919 15.4419C16.5747 15.5592 16.4158 15.625 16.25 15.625H15C14.8342 15.625 14.6753 15.5592 14.5581 15.4419C14.4408 15.3247 14.375 15.1658 14.375 15V11.875C14.375 11.7092 14.4408 11.5503 14.5581 11.4331C14.6753 11.3158 14.8342 11.25 15 11.25H16.875V15Z"
                                    fill="#4A525F" />
                            </svg>
                            <small class="ms-2">6.4k</small>
                        </div>
                    </div>                </li>
            </ul>
        </div>
    </div>
</div>
   </div>

</html>