@media (max-width: 767px) {
    .top-users {
        flex-direction: column;
        align-items: center;
    }

    .user {
        margin-bottom: 20px;
    }

    .second-place, .first-place, .third-place {
        order: unset;
    }

    .first-place {
        margin: 20px 0;
    }

        .first-place .avatar {
            width: 100px;
            height: 100px;
        }

        .first-place .username {
            font-size: 14px;
        }
}
